* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  padding: 0;
  margin: 0;
}

.tarolo,
.tartalom,
.fejlec,
.lablec {
  border: 1px solid black;
  padding: 10px;
}

.tarolo {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background-color: whitesmoke;
}

img {
  max-width: 100%;
  border: 1px solid burlywood;
  border-radius: 5px;
  padding: 5px;
}

.kep {
  border: 1px solid burlywood;
  border-radius: 5px;
  padding: 5px;
}

.tartalom {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .tartalom {
    grid-template-columns: 100%;
    }
}
